body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nova {
    background-image: url('img/img1.jpg');
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    background-color: #4B78C5
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
} 

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header-title {
    font-size: 36px;
}

.header-description {
    font-size: 18px;
    margin-top: 10px;
}

.donate-button {
    display: inline-block;
    background-color: #3c50c0;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.donate-button:hover {
    background-color: #4B78C5;
    text-decoration: none;
}

.classe1 {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.footer {
    background-color: #4B78C5;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #3ea8ff;
}

p {
    line-height: 1.4;
}

#imagem {
    margin-top: 10px;
}

.logo2 {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.suco {
    width: 100vw;
}

::-webkit-scrollbar {
    background: #4B78C5;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
}

.emotes  {
    height: 60px;
    width: 60px;
}

.opiniao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 1.5rem;
}

.card {
    background: #4B78C5;
    height: 300px;
    width: 264px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card h2 {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

#doar {
    display: flex;
    align-items: center;
    justify-content: center;
}